/* small devices (landscape phones, 576px and up*/
@media (min-width: 576px) and (max-width: 767.98px) {
    /* common */
    p{
        font-size: 14px;
        line-height: 23px;
        margin-bottom: 10px;
    }
    h1{
        font-size: 35px;
    }
    h2{
        font-size: 22px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 14px;
    }
    
   

    /* header */
    .header {
        padding: 50px 0;
    }
    .menu-content h1 {
        font-size: 34px;
        border-top: 2px solid #d3d3d8;
        border-bottom: 2px solid #d3d3d8;
    }
    .menu-content{
        padding-top: 50%;
    }
    .menu-content p {
        font-size: 13px;
        letter-spacing: .05em;
    }

    /* about-me */
    .about-me {
    padding: 60px 0;
    }
    .about-image img{
        width: 250px;
        margin-bottom: 40px;
    }
    .about-me h3 {
        padding: 0 0 18px 0;
    }
    .about-content {
        margin-left: 20px;
    }
    .about-content p {
        padding: 0 0 6px 0;
    }
    .btn-custom {
        width: 160px;
        height: 37px;
        margin-top: 15px;
        margin-bottom: 0px;
    }

    /* my-working */
    .my-working {
        padding: 60px 0;
    }
    .work-3 {
        margin-top: 12px;
    }
    .work-4 {
        margin-top: 12px;
    }
    .work img{
        padding: 60px 0 10px;
    }
    .work p {
        font-size: 16px;
        padding: 10px 0 60px;
    }

    /* experience-and-education */
    .experience-education{
	padding: 60px 0;
    }
    .mt-sm-edu{
        margin-top: 30px;
    }

    /* my-latest-work */
    .my-latest-work {
        padding: 60px 0;
    }
    .box {
        height: 241px;
    }
    .box3 {
        margin-bottom: 30px;
    }

    /* testimonial */
    .testimonial {
        padding: 60px 0;
    }
    
    /* contact */
    /* experience-and-education */
    .contact{
        padding: 60px 0;
    }
    .contact-form {
        padding: 40px 25px 30px;
        margin-bottom: 30px;
    }
    .contact-form h2{
        padding-bottom: 30px;
    }
    .form-custom{
        padding: 15px 10px;
    }
    .form-custom2{
        padding: 8px 10px;
    }
    .btn-custom2 {
        width: 180px;
        height: 38px;
        margin-top: 8px;
    }

    /* address phone & web */
    .address{
        padding: 40px 25px 30px;
        margin: 0 15px;
    }

    /* footer */
    .footer{
        padding: 40px 0;
    }
}